body {
background-color: #f0f0f2;
margin: 0;
padding: 0;
font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;     
}
main {
width: 600px;
margin: 5em auto;
padding: 2em;
background-color: #fdfdff;
border-radius: 0.5em;
box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);
}
a:link, a:visited {
text-decoration: none;
}
img, canvas {
width: 100%;
height: auto;
}
#input-file {
position: absolute;
left: -10000px;
}
.action {
background-color: #e7e7e7; /* Gray */
border: none;
border-radius: 4px;
color: black;
padding: 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}
.action[href=''] {
display: none;
}
#download-link {
background-color: #008CBA !important;
color: white !important;
}
@media (max-width: 700px) {
main {
margin: 0 auto;
width: auto;
}
}
